.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 850px;
    }
}

.header {
    padding-top: calc(4.5rem + 72px);
}

.header_title {
    font-size: 36px;
    line-height: 56px;
    font-family: var(--font-bold);
}

.header_content {
    margin-top: 2.5rem;
    font-size: 16px;
    line-height: 32px;
    font-family: var(--font-regular);
}

.divider {
    margin-top: 2.5rem;
    height: 6px;
    background-image: url(../../public/icons/divider.svg);
    background-repeat: repeat-x;
    background-position: left center;
    border: none;
}

@media (max-width: 800px) {
    .header {
        padding-top: calc(3.5rem + 72px);
    }

    .header_title {
        font-size: 36px;
        line-height: 52px;
    }

    .header_content {
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 600px) {
    .header {
        padding-top: 3rem;
    }

    .header_title {
        font-size: 24px;
        line-height: 36px;
    }

    .header_content {
        margin-top: 2rem;
        font-size: 14px;
        line-height: 28px;
    }

    .divider {
        margin-top: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    .header_title {
        color: var(--header-color-light);
    }

    .header_content {
        color: var(--content-color-light);
    }

    .header_content a {
        color: var(--link-color-light);
        border-bottom-color: var(--link-border-color-light);
    }

    .header_content a:hover {
        color: var(--link-select-color);
        border-bottom-color: var(--link-select-border-color);
    }

    .divider {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    .header_title {
        color: var(--header-color-dark);
    }

    .header_content {
        color: var(--content-color-dark);
    }

    .header_content a {
        color: var(--link-color-dark);
        border-bottom-color: var(--link-border-color-dark);
    }

    .header_content a:hover {
        color: var(--link-select-color);
        border-bottom-color: var(--link-select-border-color);
    }

    .divider {
        opacity: 0.3;
    }
}
